<div class="col-lg-8">

    <h1 class="page-title">{{data.pageTitle}}</h1>

    <ul class="post-list list-unstyled">
        <li class="post" ng-repeat="post in data.posts | filter:filter.s">
            <header class="post-header">
                <h3 class="post-title"><a href="{{post.slug}}" ng-bind-html="post.title.rendered"></a></h3>
                <div ng-if="post.featured_image_thumbnail_url" class="post-image thumb"><a href="#" data-toggle="modal" data-target="#lightbox" class="thumbnail"><img id="{{post.id}}" src="" ng-src="{{post.featured_image_thumbnail_url}}" alt="{{post.featured_image_thumbnail_title}}" class="img-responsive"></a></div>
            </header>
            <div class="post-content" ng-bind-html="post.excerpt.rendered"></div>
            <footer class="post-footer"><a href="{{post.slug}}" class="btn">Read More &raquo;</a></footer>
        </li>
    </ul>

    <posts-nav-link prev-label="&laquo; Previous Page" next-label="Next Page &raquo;"></posts-nav-link>
    <pagination total-items="totalItems" items-per-page="itemsPerPage" 
         ng-model="currentPage" ng-change="pageChanged()"></pagination>
      <p>
         Total items: {{totalItems}}<br />
         Items per page: {{itemsPerPage}}<br />
         Current Page: {{currentPage}}
      </p>
</div>

<aside class="col-lg-4">
    <sidebar></sidebar>
</aside>